*.sh text eol=lf
production_tool/production_tool text eol=lf
production_tool_v2/production_tool text eol=lf
rollback_usb/production_tool/production_tool text eol=lf
diagnostic_usb/production_tool/production_tool text eol=lf
*.py text eol=lf
*.rc text eol=lf
*.conf text eol=lf
